<h1>These are the Artist in this Gallery</h1>

<ul>
<% @artists.each do |artist| %>
  <li>
    <div class="artist"
      <a href="/artists<%= artist.id %>"
        <%= artist.location %>
        <%= artist.genre %>
        <%= artist.medium %>

      </a>
    </div>
  </li>
<% end %>
</ul>



<a href="/artists/new">Make a new Artist</a>
