<h1>These are a list of current Art Galleries</h1>

<ul>
<% @galleries.each do |gallery| %>
  <li>
    <div class="gallery">
      <a href="/galleries/<%= gallery.id %>">
        Name: <%= gallery.name %><br>
        Location: <%= gallery.location %><br>
        Genre: <%= gallery.genre %><br>
      </a>
    </div>
  </li>
<% end %>
</ul>

<a href="/galleries/new">Make a new gallery</a>
