<h1>These are a list of current Art Galleries</h1>

<ul><h1>
<% @galleries.each do |gallery| %>
  <li>
    <div class="gallery">
      <a href="/galleries/<%= gallery.id %>/artists">
        <%= gallery.name %><br>
        <%= gallery.location %><br>
        <%= gallery.genre %><br>
        <br>
      </a>
    </div>
  </li>
  </h3></li>
<% end %></h1>
</ul>

<h3><a href="/galleries/new">Make a new gallery</a></h3>
